img {
    width: 100px;
    height: auto;
    }
    .carousel-inner {
        width: 100%;
        height: 600px; /* Chiều cao cố định cho slider */
        overflow: hidden;
    }

    .carousel-item img {
        width: 500px;
        height: 600px;
         /* Đảm bảo hình ảnh che phủ toàn bộ khu vực mà không bị méo */
    }
    .card-img-top{
        height:300px;
    }
    .card{
        border:1px solid skyblue;
    }
